<a href="https://colab.research.google.com/github/SamBabsAnalyst/Car-Price-Prediction/blob/main/Samson_Damilare_Babatunde_(Practical_Assignment).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**QUESTION 1:**

In [1]:
import csv
from datetime import datetime, timedelta
import random

In [2]:
def calculate_age(birthdate):
    today = datetime.now()
    age = (today - birthdate).days // 365
    return age

In [4]:
def assign_class_group(age):
    if 9 <= age <= 14:
        return 'STEM CAFE'
    elif age >= 16:
        return 'Data Science'
    else:
        return 'Unknown'

In [5]:
def generate_random_applicant_details():
    applicants = []
    for i in range(1, 8):
        first_name = f"First_name_{i}"
        surname = f"Surname_{i}"
        town = f"Town_{i}"
        birth_year = random.randint(1980, 2010)
        birth_month = random.randint(1, 12)
        birth_day = random.randint(1, 28)  # Assume all months have max 28 days for simplicity
        birthdate = datetime(birth_year, birth_month, birth_day)
        age = calculate_age(birthdate)
        class_group = assign_class_group(age)
        birthday = f"({birth_day}, {datetime(1900, birth_month, 1).strftime('%B')})"
        applicants.append([datetime.now().strftime("%Y-%m-%d"), i, first_name, surname, age, class_group, birthday])
    return applicants

In [6]:
def write_to_csv(applicants):
    with open('applicant_records.csv', 'w', newline='') as file:
        writer = csv.writer(file)
        writer.writerow(["Date", "Serial Number", "First name", "Surname", "Age", "Class group", "Birthday"])
        for applicant in applicants:
            writer.writerow(applicant)

In [7]:
def print_formatted_contents():
    print("{:<15} {:<15} {:<15} {:<15} {:<15} {:<15} {:<15}".format("Date", "Serial Number", "First name", "Surname", "Age", "Class group", "Birthday"))
    print("="*105)
    with open('applicant_records.csv', 'r', newline='') as file:
        reader = csv.reader(file)
        next(reader)  # Skip header
        for row in reader:
            print("{:<15} {:<15} {:<15} {:<15} {:<15} {:<15} {:<15}".format(*row))

In [11]:
# Generate random applicant details
applicants_data = generate_random_applicant_details()
applicants_data

[['2024-03-23',
  1,
  'First_name_1',
  'Surname_1',
  23,
  'Data Science',
  '(21, August)'],
 ['2024-03-23',
  2,
  'First_name_2',
  'Surname_2',
  32,
  'Data Science',
  '(8, June)'],
 ['2024-03-23',
  3,
  'First_name_3',
  'Surname_3',
  38,
  'Data Science',
  '(16, March)'],
 ['2024-03-23',
  4,
  'First_name_4',
  'Surname_4',
  39,
  'Data Science',
  '(19, April)'],
 ['2024-03-23',
  5,
  'First_name_5',
  'Surname_5',
  31,
  'Data Science',
  '(10, March)'],
 ['2024-03-23',
  6,
  'First_name_6',
  'Surname_6',
  20,
  'Data Science',
  '(13, February)'],
 ['2024-03-23',
  7,
  'First_name_7',
  'Surname_7',
  31,
  'Data Science',
  '(26, July)']]

In [12]:
# Write to CSV
write_to_csv(applicants_data)

In [13]:
# Print formatted contents
print_formatted_contents()

Date            Serial Number   First name      Surname         Age             Class group     Birthday
=========================================================================================================
2024-03-23      1               First_name_1    Surname_1       23              Data Science    (21, August)
2024-03-23      2               First_name_2    Surname_2       32              Data Science    (8, June)
2024-03-23      3               First_name_3    Surname_3       38              Data Science    (16, March)
2024-03-23      4               First_name_4    Surname_4       39              Data Science    (19, April)
2024-03-23      5               First_name_5    Surname_5       31              Data Science    (10, March)
2024-03-23      6               First_name_6    Surname_6       20              Data Science    (13, February)
2024-03-23      7               First_name_7    Surname_7       31              Data Science    (26, July)

This script generates random details for 7 potential applicants, calculates their ages, assigns them to class groups based on age, writes the data to a CSV file, and then prints the contents of the CSV file in a well-formatted manner.

**QUESTION 2**

In [15]:
import csv

In [16]:
def celsius_to_fahrenheit(celsius):
    return (9/5) * celsius + 32

In [17]:
def write_to_csv(serial_number, city, temperature_celsius):
    temperature_fahrenheit = celsius_to_fahrenheit(temperature_celsius)
    with open('city_temperatures.csv', 'a', newline='') as file:
        writer = csv.writer(file)
        writer.writerow([serial_number, city, temperature_fahrenheit])

In [18]:
def print_formatted_contents():
    print("{:<15} {:<15} {:<15}".format("Serial Number", "City", "Temperature (Fahrenheit)"))
    print("="*45)
    with open('city_temperatures.csv', 'r', newline='') as file:
        reader = csv.reader(file)
        for row in reader:
            print("{:<15} {:<15} {:<15}".format(row[0], row[1], row[2]))

In [20]:
# FOR EXAMPLE:
cities = [
    (1, 'Berlin', 29),
    (2, 'Cairo', 36),
    (3, 'Buenos Aires', 19),
    (4, 'Los Angeles', 26),
    (5, 'Tokyo', 27),
    (6, 'New York', 28),
    (7, 'London', 22)
]

In [21]:
for city in cities:
    write_to_csv(city[0], city[1], city[2])

In [22]:
print_formatted_contents()

Serial Number   City            Temperature (Fahrenheit)
=============================================
1               Berlin          84.2
2               Cairo           96.8
3               Buenos Aires    66.2
4               Los Angeles     78.80000000000001
5               Tokyo           80.6
6               New York        82.4
7               London          71.6

This code defines two functions: write_to_csv() to write the data to a CSV file in the required format, and print_formatted_contents() to read the CSV file and print its contents in a well-formatted manner. The celsius_to_fahrenheit() function converts temperatures from Celsius to Fahrenheit. Finally, it demonstrates an example usage by iterating over the provided city data and writing it to the CSV file before printing the formatted contents.

**QUESTION 3**

In [23]:
import csv
import math

In [24]:
def solve_quadratic_equation(a, b, c):
    discriminant = b**2 - 4*a*c
    if discriminant < 0:
        return None, None
    elif discriminant == 0:
        x1 = x2 = -b / (2*a)
    else:
        x1 = (-b + math.sqrt(discriminant)) / (2*a)
        x2 = (-b - math.sqrt(discriminant)) / (2*a)
    return x1, x2

In [25]:
def write_to_csv(serial_number, a, b, c):
    x1, x2 = solve_quadratic_equation(a, b, c)
    equation = f"{a}x^2 + {b}x + {c}"
    with open('quadratic_equations.csv', 'a', newline='') as file:
        writer = csv.writer(file)
        writer.writerow([serial_number, a, b, c, equation, x1, x2])

In [26]:
def print_formatted_contents():
    print("{:<8} {:<8} {:<8} {:<8} {:<20} {:<8} {:<8}".format("S/No", "a", "b", "c", "Equation", "X1", "X2"))
    print("="*68)
    with open('quadratic_equations.csv', 'r', newline='') as file:
        reader = csv.reader(file)
        for row in reader:
            print("{:<8} {:<8} {:<8} {:<8} {:<20} {:<8} {:<8}".format(row[0], row[1], row[2], row[3], row[4], row[5], row[6]))

In [27]:
# Practical Usage:
equations = [
    (1, 1, -16, 48),
    (2, 2, 7, -9),
    (3, 1, 0.9, -0.36),
    (4, -3, 0, 243),
    (5, 2, -11, 14)
]

In [28]:
# Clear the contents of the CSV file before writing new data
with open('quadratic_equations.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(["S/No", "a", "b", "c", "Equation", "X1", "X2"])

In [29]:
for equation in equations:
    write_to_csv(*equation)

In [30]:
print_formatted_contents()

S/No     a        b        c        Equation             X1       X2
====================================================================
S/No     a        b        c        Equation             X1       X2
1        1        -16      48       1x^2 + -16x + 48     12.0     4.0
2        2        7        -9       2x^2 + 7x + -9       1.0      -4.5
3        1        0.9      -0.36    1x^2 + 0.9x + -0.36  0.3      -1.2
4        -3       0        243      -3x^2 + 0x + 243     -9.0     9.0
5        2        -11      14       2x^2 + -11x + 14     3.5      2.0

This code defines two functions: write_to_csv() to write the data to a CSV file in the required format, and print_formatted_contents() to read the CSV file and print its contents in a well-formatted manner. The solve_quadratic_equation() function calculates the solutions for a quadratic equation given coefficients a, b, and c. Finally, it demonstrates an example usage by iterating over the provided equations and writing them to the CSV file before printing the formatted contents.